# Maven build output
target/

# Documentation
HELP.md


# IntelliJ
.idea/
*.iml
*.ipr
*.iws


# VS Code
.vscode/


# Eclipse / STS
.project
.classpath
.settings/
.factorypath
.springBeans
.sts4-cache/
.apt_generated/


# NetBeans
nbproject/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/


# Git
.git/
.gitignore


# OS files
.DS_Store
Thumbs.db